<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-0ey2zkme2zf6lczu.us.auth0.com</string>
	<key>ClientId</key>
	<string>bLZ1SDkrmbV0IqNNe2xFtMuNvY8BymxH</string>
</dict>
</plist>
